body{
    background-color: white;
    font-family: 'Work Sans', sans-serif;
}
.dark-grad{
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
}
#header{
    width: 100%;
    z-index: 1010;
    padding: 20px 0;
}
main{
    padding: 150px 10% 50px 10%;
}

/*-------------NAV-BAR--------------*/
.navbar{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#navbar-brand-cont{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
nav img{
    width: 140px;
}
#navbar-brand-cont h5{
    font-family: 'MuseoModerno', cursive;
    height: fit-content;
    margin: auto;
    color: #fff;
}
.navbar-brand{
    padding: 0 !important;
}
.nav-link{
    padding: 20px 15px !important;
    font-size: 14px;
    font-stretch: expanded !important;
    text-transform: uppercase;
    background-color: transparent !important;
    
}
/*-------------/NAV-BAR--------------*/

/*-------------MENU-BUTTON--------------*/
.icon-menu{
    width: 22px;
    height: 17px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.icon-menu span{
    width: 100%;
    height: 3px;
    display: block;
    background-color: #fff;
    border-radius: 2px;
}
.icon-menu span:nth-child(1){
    transform: rotate(0deg);
    transition: all .5s;
}
.icon-menu span:nth-child(2){
    transition: all .5s;
}
.icon-menu span:nth-child(3){
    transform: rotate(0deg);
    transition: all .5s;
}
.icon-menu.collap span:nth-child(1){
    width: 100%;
    -webkit-transform: rotate(45deg) translate(4px,5px);
    transform: rotate(45deg) translate(4px,5px);
    transition: all .5s;
}
.icon-menu.collap span:nth-child(2){
    opacity: 0;
    transition: all .5s;
}
.icon-menu.collap span:nth-child(3){
    width: 100%;
    -webkit-transform: rotate(-45deg) translate(5px,-6px);
    transform: rotate(-45deg) translate(5px,-6px);
    transition: all .5s;
}
/*-------------/MENU-BUTTON--------------*/

/*-------------FOOTER--------------*/
footer{
    background-color: rgba(0,0,0,0.9);
}
footer .row>div{
    height: auto;
    border: none;
}
footer a{
    color: rgba(0,0,0,0.5);
}
footer .nav-link:hover{
    color: rgba(0,0,0,0.7);
}
copyright{
    color: #fff;
}
/*-------------/FOOTER--------------*/

/*-------------RESPONSIVE--------------*/
@media screen and (max-width: 424px){
    #navbar-brand-cont h5{
        display: none;
    }
}
@media screen and (max-width: 992px){
    #header{
        position: relative;
        top: 0;
        background: #332f2b !important;
    }
    main{
        padding-top: 50px;
    }
}
/*-------------/RESPONSIVE--------------*/